* {
    margin: 0;
    padding: 0;
}

.cabeçalho{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(179, 236, 217);
}

.cartao{
    width: 260px;
    height: 200px;
}

.cartao-imagem{
    width: 100px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(202, 197, 197, 0.774);
}

main {
    flex: 1;
}

.cabecalho-link {
    color:rgb(65, 126, 141)
}

.h1 {
    color:rgb(218, 182, 128)
    font-size: 24px
}

footer {
    background-color: rgb(12, 121, 148);
    padding: 15px 25px;
    color: rgb(121, 229, 236);
}